
/* 
dark primary color: #C2185B
primary color: #E91E63
ligt primary color: #F8BBD0
accent color : #607D8B
text: #FFFFFF
hover text" #212121;
*/


* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    
}



h1 {
    background-color:  #607D8B;
    padding: 25px 150px ;
    color: #FFFFFF;
    font-size: 96px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    margin-top: 75px
}

h2 {
    
    margin: 40px 0px;
    font-size: 22.5px;
    font-weight: 400;
}
   
header{
   text-transform: uppercase 
    
}

section  p {
    line-height: 150%;
    margin: 40px 0px;
    max-width: 1000px;
    text-align: justify;
}


 

nav ul {
    list-style: none;
    
    
}

nav a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 5px 40px;
    border-bottom: 5px (96, 125, 139, 0) ;
    
    
    

}

nav a:hover{
    color:#212121;
    border-bottom: 5px solid #607D8B  ;
   
 }

.active {
    border-top: 5px solid #607D8B  ;
}

nav li {
    padding: 20px 0px;
}


img {
    
    margin-top:40px;
    align-items: center;
    
}

a {
    color: #607D8B;
    text-decoration: none;
}


section {
    margin: 0 auto;
    Width: 720px;
    font-family: 'Raleway', sans-serif;
    

}

section ul {
    margin-left: 19px
}

h1,footer, nav ul{
    text-align:center;
}


nav {
    background-color:#F8BBD0;
    position: fixed;
    top : 0;
     width: 100%;
    
  
}


nav li, nav a {
    display: inline-block;
}

footer {
    background-color: #607D8B;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    padding: 40px 150px;
    margin-top: 40px;
    
    
}

    
